@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap);

body {
  font-family: "Poppins";
}
.header__image {
  background: url("../img/image1.png") center / cover no-repeat;
  color: aliceblue;
}
[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
}
.header__menu {
  color: rgb(228, 228, 228);
}
.nav__menu {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.nav__title {
  margin-bottom: 260px;
}
.listt {
  display: flex;
}
.listt a {
  color: rgb(228, 228, 228);
}
.listt a:hover {
  color: rgb(190, 103, 103);
  transition: 0.8s ease all;
}

.listt li {
  margin: 0 20px 0 0;
  font-size: 12px;
  line-height: 2.1;
}
.search {
  padding-right: 50px;
}
.menu__item {
  font-size: 12px;
  line-height: 2.1;
}
.search {
  border: 1px solid gray;
  max-width: 25px;
  max-height: 10px;
  border-radius: 5px;
}
.header__data p{
  font-size: 12px;
  line-height: 0.8;
  font-weight: 300;
  color: #9e9e9e;
  margin-bottom: 20px;
  text-align: center;

}
.header__title p{
  font-size: 25px;
  line-height: 1.5;
  font-weight: 700;
  color: #f8f9fa;
  margin-bottom: 20px;
  text-align: center;
}
.header__text p{
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
  color: #e5e5e5;
  margin-bottom: 20px;
  text-align: center;
}
.header__textend {
  text-align: right;
  font-size: 12px;
  font-weight: 300;
  color: #e5e5e5;
  padding-bottom: 20px;
}
//main
main {
}
.main-first-page{
background-color: #e5e5e5;
  padding: 80px 0px 80px 0px;
}
.main__container {
}
.textcs {
  color: #495057;
  font-size: 12px;
}
.titletext {
  padding-left: 30px;
  line-height: 2.2;
  color: #495057;
}

.main__row {
  text-align: center;
}
.main__item {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.item {
}
.item__article {
  max-width: 33.3%;
  margin-right: 20px;
}
.img {
}
.img img {
  margin: 70px 0px;
}
.textdata {
  text-align: left;
  margin-bottom: 30px;
}
.subtitle {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
  font-family: "Poppins";
  margin-bottom: 20px;
  text-align: left;
  width: 400px;
}
.item__text {
  margin-bottom: 20px;
  text-align: left;
}
.item__text p {
  color: #2368ae;
}
.item__line {
  border: 1px solid #4950578f;
  width: 390px;
  height: 1px;
}
.item__line hr {
  margin-bottom: 30px;
}
.textinfo {
  text-align: left;
}
.butmorearticle {
  text-align: center;
  margin: 100px auto 0px;
}
.butmorearticle a {
  display: inline-block;
  border: 1px solid rgb(15, 14, 14);
  border-radius: 3px;
  min-width: 178px;
  min-height: 40px;
  color: #e5e5e5;
  background-color: #090909;
  font-size: 12px;
  line-height: 2.9;
}
.titlefull {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  text-transform: uppercase;
  color: #cec1b8;
}
hr {
  width: 390px;
  height: 1px;
  background-color: #b0b0b0;
}
//Featured_Topics

.Featured_Topics {
  background-color: #212529;
  font-family: "Poppins";
}
.feat__title {
  padding-bottom: 50px;
  font-size: 25px;
  font-weight: 500;
  line-height: 0.8;
  color: #e5e5e5;
}
.Featured__row {
  display: flex;
  justify-content: space-between;
}
.Featured__column {
  padding: 100px 80px;
}
.Featured__item {
  display: flex;
}
.Featured__item:not(:last-child) {
  margin-bottom: 30px;
}

.img__itemF {
  margin-right: 40px;
}
.item__colElm {
  flex-direction: column;
}

.item__data {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.66;
  color: #e5e5e5;
  margin-bottom: 30px;
}
.item__title {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: #f8f9fa;
  margin-bottom: 30px;
}
.item__text p {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.66;
  color: #e5e5e5;
}
.Featured__colImg {
}
.imgF {
  display: flex;
  color: #f8f9fa;
  max-width: 100%;
}
.imgF img {
  display: flex;
  max-width: 100%;
  position: relative;
  z-index: 1;
}
.text__img {
  position: absolute;
  z-index: 2;
  margin: 400px 165px;
  text-align: center;
  max-width: 100%;
}
.text__img h6 {
  font-size: 25px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 20px;
}
.text__img p {
  font-size: 12px;
  font-weight: 100;
  opacity: 0.8;
}
.text__img p:hover {
  opacity: 1;
  font-weight: 300;
}
//world

.bigWorld {
  padding: 100px 0;
}
.world__container {
}
.worldtitle h6 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.25;
  color: #495057;
  margin-bottom: 60px;
}
.row__world {
  display: flex;
}
.item__world {
  max-width: 295px;
  margin-right: 25px;
}

.world__image {
  margin-bottom: 20px;
}
.world__data {
  font-size: 12px;
  line-height: 1.66;
  font-weight: 300;
  color: #495057;
  margin-bottom: 20px;
}
.data {
}
.world__subTitle {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}
.world__text {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.66;
}
//footer
.footer {
  padding: 40px 0;
  background-color: #212529;
}
.footer__container {
}
.uplevel {
}
.footer__title {
  margin-bottom: 40px;
}

.nav__footer {
  display: flex;
  justify-content: space-between;
}
.menu__about a {
  margin-left: 20px;
  color: #f8f9fa;
  opacity: 0.5;
}
.about {
}
.downlevel {
}
.linehr hr {
  width: 100%;
  height: 1px;
  margin-bottom: 40px;
}
.linehr {
}

.info {
  display: flex;
  justify-content: space-between;
  color: #f8f9fa;
  opacity: 0.5;
}
//second page
.header {
  padding: 45px 0;
}
.second-page-logo{

}
.header__container {
}
.second__header {
  display: flex;
  justify-content: space-between;
}
.nav__title {
}

.nav__menu-sec-page{
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.1;
}
.nav__menu-sec-page a{
  margin-right: 20px;
  color: #495057;
  opacity: 0.5;
}
.nav__menu-sec-page a:hover{
  color: #495057;
  border-bottom: 2px solid #ddbea9;
  width: 100%;
  opacity: 1;
}
.social__site {
  font-size: 12px;
  font-weight: 500;
  line-height: 2.1;
}
.social__site a{
  margin-right: 20px;
  color: #495057;
  opacity: 0.5;
}
.social__site a:hover{
  color: #495057;
  border-bottom: 2px solid #ddbea9;
  width: 100%;
  opacity: 1;
}
.search{
  border: 1px solid gray;
  max-width: 25px;
  max-height: 10px;
  border-radius: 5px;
  
  
}
//second page main
.first__block {
}
.second__page {
  position: relative;
}
.second__page img{
  position: relative;
  max-width: 100%;
  z-index: 100;
}
.white__block {
  position: absolute;
  z-index:300;
  //width: 50px;
  //height: 50px;
  //background-color: #ca2121;
left: 43%;
top: 92%;
}
.number01 li{
  font-size: 12px;
  line-height: 1.66;
  font-weight: 300;
  color: #c4c4c4;
  padding-left: 30px;
  margin-bottom: 10px;
}
.number01 li:hover{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  color: #495057;
  background: url('../img/icon/DividerLine.png') 5px 10px / 20px no-repeat;
}

.grey__block {
  background-color: #5e5e5e1c;
  padding: 150px 120px 100px;
  max-width: 705px;
  max-height: 470px;
  flex-direction: column;
  position: relative;
  left: 800px;
  top: -130px;
  z-index: 20;
}
.grey__data {
  font-size: 12px;
  line-height: 1.66;
  font-weight: 300;
  color: #495057;
  margin-bottom: 20px;
}
.grey__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.6;
  color: #212529;
  margin-bottom: 20px;
}
.grey__text {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.66;
  margin-bottom: 20px;
}
.grey__text hr{
  width: 100%;
margin-bottom: 20px;
}
.grey-info-text {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.66;
  margin-top: 20px;
}
//latets
.latest-articles {
}
.latest__container {
}
.latest-title {
}
.nav__menu-sec-page {
}
.latest-row {
display: grid;
column-gap: 30px;
row-gap: 50px;
grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
align-items: start;
position: relative;
}

.latest__item {
  display: grid;
  grid-template: auto 1fr minmax(40px, auto)/1fr;
}

.img__latest {
  margin-bottom: 10px;
}
.item1{
  position: relative;
  z-index: 5;
}
.item5{
  position: relative;
bottom: 180px;
}
.item7{
  position: relative;
  bottom: 100px;
}
.latest__data {
  font-size: 12px;
  line-height: 1.66;
  font-weight: 300;
  color: #495057;
  margin-bottom: 10px;
}
.latest__subtitle {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
  color: #495057;
  margin-bottom: 10px;
}
.latest__text {
  font-size: 12px;
  line-height: 1.66;
  font-weight: 300;
  color: #495057;
  margin-bottom: 0;
}
.latest__end {
}
.latest__num-page {
  display: flex;
  justify-content: center;
  
}
.latest__num-page p{
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 80px;
  color: #495057;
  opacity: 0.5;
  font-size: 12px;
  line-height: 2.1;

}
.latest__num-page p:hover{
  color: #495057;
  border-bottom: 2px solid #ddbea9;
  opacity: 1;
}   
//editors block

.editors-picks {
}
.picture__item {
  background: url('../img/Inspiration/img13.png') right 0 /1340px no-repeat;
  min-height: 600px;

}
.pict-pos{
  padding:230px 0 0 400px ;
  text-align: center;
  padding-top: 230px;
  color:#f8f9fa ;
}
.pic__data {
font-size: 12px;
font-weight: 300;
line-height: 1.8;
}
.pic__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.66;
}
.pic__num {
  text-align: right;
  color: #f8f9fa89;
  padding-right: 180px;
}
.pic__num a:hover{
  font-size: 25px;
  font-weight: 700;
  line-height: 1.25;
  color: #f6f5f5;

}
.editors-picks__containet {
}
.editor__block{
  padding: 100px 0 0 0;
}
.Editors__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
margin-bottom: 60px;
}
.Editors__row {
  display: flex;
  justify-content: space-between;
  
}
.editor__left-el{
flex-direction: column;
margin-right: 130px;
}
.editor__item {
  display: flex;
  margin-bottom: 30px;
}
.editor__image {
}
.editor__data {
  font-size: 12px;
font-weight: 300;
line-height: 1.8;
margin:0 0 15px 15px;
}
.editor__subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  margin:0 0 15px 15px;
}
.editor__text {
  font-size: 12px;
font-weight: 300;
line-height: 1.8;
margin:0 0 15px 15px;
}
.editor__text-avtor {
  font-size: 12px;
font-weight: 300;
line-height: 1.8;
margin:0 0 15px 15px;
}
.blackpic-withredline {
position: relative;
}
.blackpic__image {
  position: relative;
  z-index: 1;
}
.blackpic__on-pict {
  position: relative;
  color: #c4c4c4;
  z-index: 3;
  bottom: 200px;
  left: 40px;
}
.blackpic__data {
  font-size: 12px;
font-weight: 300;
line-height: 1.8;
margin:0 0 15px 15px;
}
.blackpic__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.66;
  margin:0 0 15px 15px;
}
.blackpic__text {
font-size: 12px;
font-weight: 300;
line-height: 1.8;
margin-left: 15px;
}
.footer__container {
}
.footer__block{
  display: flex;
  justify-content: space-between;
  
}
.footer-line{
  border-top: 1px solid rgb(112, 110, 110);
  height: 1px;
  width: 100;
  background-color: #6d6d6d;
  margin-bottom: 30px;
}
.footer__title p{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.38;
  color: #b9c3cc;
}
.footer__menu {
  display: flex;
  justify-content: space-between;

}
.footer__menu a,p{
  font-size: 12px;
  color: #495057d2;
}
.footer__menu a{
  padding-right: 20px;
}
.footer__copy {
  margin-left: 70px;
}

// page three
.keep-wrapper{
  padding: 100px;
}
.keep__header {
}
.header__menu-img {
  background: url('../img/page-three/headimg1.png')center / cover no-repeat;
}
.header__menu {
}
.keep__container {
}
.nav__menu {
}
.nav__title {
}
.keep-header__title p{
  text-align: center;
  color: #dedede;
  font-size: 25px;
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 20px;
}
.keep-header__text p{
  color: #969696;
  padding-bottom: 180px;
  text-align: center;
}

.main-header__title p{
font-size: 12px;
  color: #495057;
  margin-bottom: 30px;
}
.keep-htbold {
  font-weight: 700;
  background-color: #ffffff00;
}
.keep-main__container {
}
.text__con{
  max-width: 816px;
  margin: 0 auto;
}
.keep-main__title {
  font-size: 25px;
  line-height: 1.8;
  font-weight: 700;
  margin-bottom: 30px;
}
.keep-main__text {

font-size: 14px;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 50px;

}
.keep-main__text p{
  margin-bottom: 20px;
}
.keep-img {
  text-align: center;
  max-width: 100%;
  margin-bottom: 50px;
}
.keep-main__text h2{
  font-size: 25px;
  line-height: 1.8;
  font-weight: 700;
  margin-bottom: 30px;
}
.keep-image {
  text-align: center;
  max-width: 100%;
  margin-bottom: 30px;
}
.keep-image img{
margin-right: 20px;
}
.latest-keep {
  margin-bottom: 100px auto;
  
}
.latest-keep__container {
}
.latest-keep-title {
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 300;
}
.row__latest-keep {
  display: flex;
}
.item__latest-keep {
  display: flex;
  margin-right: 30px;
}
.around-in-col{
  flex-direction: column;
}
.latest-keep__image {
  margin-right: 30px;
}
.latest-keep__creative {
  font-size: 12px;
  line-height: 1.8;
  font-weight: 300;
  color: #495057;
  margin-bottom: 20px;
}
.latest-keep__subtitle p{
  max-width: 182px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  color: #212529;
}
